
header,
footer,
nav,
.mobile-nav,
.header-left,
.header-right {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow-y: auto;
}

.frame-container {
  width: 100%;
  display: block;
}

.frame-container img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}
