.frame-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.frame-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* or 'contain' if you want full visibility */
  display: block;
}
